extends ./_base.jade
block content
  .app
    .pages
      //- ul.clearfix
      //-   li: a(href="#/") Home
      //-   li: a(href="#about") About
      //-   li: a(href="#contact") Contact

      #app-head
      #app-body
