extends ./_base.jade
block content
  .landing
    header
      nav
        a Item 1
        a Item 2
        a Item 3
        a Item 4
        a Item 5
    .content
      section
      section
      section
      section
      section
      section
    footer
