extends ./_base.jade
block content
  h1 hello its table

  .table-block

    .dis-table.exp-block
      .dis-table-row
        .dis-table-cell 1
        .dis-table-cell 2
        .dis-table-cell 3
      .dis-table-row
        .dis-table-cell 4
        .dis-table-cell 5
        .dis-table-cell 6
      .dis-table-row
        .dis-table-cell 7
        .dis-table-cell 8
        .dis-table-cell 9

    table.exp-block
      tr
        td 1
        td 2
        td 3
      tr
        td 4
        td 5
        td 6
      tr
        td 7
        td 8
        td 9
